.junk/

# Project files
**/Project Logs for */
**/History/
**/__Previews/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
SDIA_Code/SodiumDIA_STM32/build/font.lst
SDIA_Code/SodiumDIA_STM32/build/font.lst
SDIA_Code/SodiumDIA_STM32/build/main.lst
SDIA_Code/SodiumDIA_STM32/build/SodiumDIA_STM32.bin
SDIA_Code/SodiumDIA_STM32/build/st7735.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_cortex.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_dma.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_exti.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_flash_ex.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_flash.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_gpio_ex.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_gpio.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_msp.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_pwr.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_rcc_ex.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_rcc.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_spi.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_it.lst
SDIA_Code/SodiumDIA_STM32/build/syscalls.lst
SDIA_Code/SodiumDIA_STM32/build/sysmem.lst
SDIA_Code/SodiumDIA_STM32/build/system_stm32f1xx.lst
SDIA_Code/SodiumDIA_STM32/build/font.lst
SDIA_Code/SodiumDIA_STM32/build/main.lst
SDIA_Code/SodiumDIA_STM32/build/SodiumDIA_STM32.bin
SDIA_Code/SodiumDIA_STM32/build/st7735.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_cortex.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_dma.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_exti.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_flash_ex.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_flash.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_gpio_ex.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_gpio.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_msp.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_pwr.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_rcc_ex.lst
SDIA_Code/SodiumDIA_STM32/build/font.lst
SDIA_Code/SodiumDIA_STM32/build/main.lst
SDIA_Code/SodiumDIA_STM32/build/SodiumDIA_STM32.bin
SDIA_Code/SodiumDIA_STM32/build/st7735.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_cortex.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_dma.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_exti.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_flash_ex.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_flash.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_gpio_ex.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_gpio.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_msp.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_pwr.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_rcc_ex.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_rcc.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal_spi.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_hal.lst
SDIA_Code/SodiumDIA_STM32/build/stm32f1xx_it.lst
SDIA_Code/SodiumDIA_STM32/build/syscalls.lst
SDIA_Code/SodiumDIA_STM32/build/sysmem.lst
SDIA_Code/SodiumDIA_STM32/build/system_stm32f1xx.lst
